@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to bottom,rgb(0, 0, 0)20%,rgb(0, 0, 0)60%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vw;
}

.nav{
    margin-left: 45rem;
    margin-top: .2rem;
}

.bgImg{
    width: 60rem;
    height: 35rem;
    margin-right: -40px;
    background-repeat: no-repeat;
    border-radius: 9px;
    border-style: none;
    background-size: cover;
    background-position: center;

}

.img2{
    width: 66rem;
    height: 45rem;
}

.lawn_color{
    background:linear-gradient(to right,rgb(194, 11, 244),rgb(34, 215, 252));
    color:linear-gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-webkit-background-clip: text;
    -moz-webkit-text-fill-color: transparent;

  }

  .lawn_color_bg{
    background:linear-gradient(to right,rgb(81, 145, 255),rgb(88, 202, 255));
  }


  .btn{
    font-size: 17px;
    padding: 0.5rem 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: rgb(88, 202, 255);
    color: white;
    border-radius: 9px;
  }

  .btn:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(206, 31, 255) 0%,
    rgb(50, 221, 255) 100%)
  }

  .btn:active{
    transform: translate(0em,0.2em);
  }

  .word1{
    font-family: 'Righteous', cursive;
    font-size: 85px;
  
  }

  .word2{
    font-family: 'Righteous', cursive;
    font-size: 60px;
  
  }
  .word3{
    font-family: 'Righteous', cursive;
    font-size: 60px;
  
  }
  .word4{
    font-family: 'Righteous', cursive;
    font-size: 150px;
    text-align: center;
    margin-left: 8rem;
    display: grid;
    place-content: center;
    color: rgba(128, 128, 128, 0.086);
    position: absolute;
    margin-top: -7.7rem;
  
  }
  .word5{
    font-family: 'Righteous', cursive;
    font-size: 35px;
    font-style: italic;
   
  
  }

  .img3{
     box-shadow: 0 0 90px rgba(214, 143, 255, 0.33);
     -webkit-transform: rotate(2.6deg) ;
                  
    
  }


  .code1{
    margin-top: 37rem;
  }

  .code2{
    margin-top: -10rem;
    margin-left: 60rem;

  }

  .containerX{
    width: 30rem;
    height: 18rem;
    font-size: 20px;
    margin: 30px;
  }

  .card {
    width: 30rem;
    height: 44rem;
    background-image: linear-gradient(163deg, rgb(206, 31, 255) 0%,
    rgb(50, 221, 255) 100%);
    border-radius: 20px;
    transition: all .3s;
  }
  
  .card2 {
    width: 30rem;
    height: 44rem;
    background-color: #1a1a1a;
    border-radius: 10px;
    transition: all .2s;
  }
  
  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  }


  .rahul{
    height: 34rem;
  }

 .imgI{
     height: 55rem;
     width: 38rem;
     margin-left: 60px;
     margin-top: 100px;
 }
