@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to bottom,rgb(0, 0, 0)20%,rgb(0, 0, 0)60%);
    height: 100vw;
}

.nav{
    margin-left: 45rem;
    margin-top: .2rem;
}

.bgImg{
    width: 60rem;
    height: 35rem;
    margin-right: -40px;
    background-repeat: no-repeat;
    border-radius: 9px;
    border-style: none;
    background-size: cover;
    background-position: center;

}

.img2{
    width: 66rem;
    height: 45rem;
}

.lawn_color{
    background:linear-gradient(to right,rgb(194, 11, 244),rgb(34, 215, 252));
    color:linear-gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-webkit-background-clip: text;
    -moz-webkit-text-fill-color: transparent;

  }

  .lawn_color_bg{
    background:linear-gradient(to right,rgb(81, 145, 255),rgb(88, 202, 255));
  }


  .btn{
    font-size: 17px;
    padding: 0.5rem 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: rgb(88, 202, 255);
    color: white;
    border-radius: 9px;
  }

  .btn:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(206, 31, 255) 0%,
    rgb(50, 221, 255) 100%)
  }

  .btn:active{
    transform: translate(0em,0.2em);
  }

  .word1{
    font-family: 'Righteous', cursive;
    font-size: 85px;
  
  }

  .word2{
    font-family: 'Righteous', cursive;
    font-size: 60px;
  
  }
  .word3{
    font-family: 'Righteous', cursive;
    font-size: 60px;
  
  }
  .word4{
    font-family: 'Righteous', cursive;
    font-size: 150px;
    text-align: center;
    margin-left: 8rem;
    display: grid;
    place-content: center;
    color: rgba(128, 128, 128, 0.086);
    position: absolute;
    margin-top: -7.7rem;
  
  }
  .word5{
    font-family: 'Righteous', cursive;
    font-size: 35px;
    font-style: italic;
   
  
  }

  .img3{
     box-shadow: 0 0 90px rgba(214, 143, 255, 0.33);
     -webkit-transform: rotate(2.6deg) ;
                  
    
  }


  .code1{
    margin-top: 37rem;
  }

  .code2{
    margin-top: -10rem;
    margin-left: 60rem;

  }

  .containerX{
    width: 30rem;
    height: 18rem;
    font-size: 20px;
    margin: 30px;
  }

  .card {
    width: 30rem;
    height: 44rem;
    background-image: linear-gradient(163deg, rgb(206, 31, 255) 0%,
    rgb(50, 221, 255) 100%);
    border-radius: 20px;
    transition: all .3s;
  }
  
  .card2 {
    width: 30rem;
    height: 44rem;
    background-color: #1a1a1a;
    border-radius: 10px;
    transition: all .2s;
  }
  
  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  }


  .rahul{
    height: 34rem;
  }

 .imgI{
     height: 55rem;
     width: 38rem;
     margin-left: 60px;
     margin-top: 100px;
 }  

 .learnImg{
     height: 25rem;
     width: 40rem;
 }

 
.testimonial{
     height: 108rem;
}


/* media_querises */
@media screen and (max-width:720px), (min-width:420px) { 
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }


/* nav */
        .nav_text{
        display: none;
       }

       .nav_logo{
        font-size: 20px;
        margin-left: 10px
       }

/* home */
      .circle{
        margin-top: -98px;
}      
       .h1_query{
          font-size: 55px;
       }

  .code1_query{
    width: 4rem;
    height: 5.5rem;
    margin-top: 14rem;
  }     

  .code2_query{
    width: 4rem;
    height: 5.5rem;
    margin-top:-5rem ;
    margin-left: 280px;
  }     

  
  .skills_query{
    font-size: 48px;
    display: grid;
    text-align: center;
 }

 .circle_query{
   margin-left: 10px;
 }


 .skills_logo_query{
       display: grid;
       place-content: center;
       justify-content: center;
       align-items: center;
       margin-left: 26px;
       margin-top: 180px;
 }

 .choose_query{
      display: grid;
      place-content: center;
 }


 .choose_query_img{
      width: 30rem;
      height: 27rem;
      margin: auto;
      object-fit: cover;

 }

 .choose_query_text{
      text-align: center;
      font-size: 50px;
      margin-left: 140px;
      display: grid;
      
 }

 .choose_query_content{
      display: grid;
      margin-left: 170px;
      gap: 10px;
    }

    .learn_query_text{
      text-align: center;
      font-size: 45px;
      display: grid;
      margin: 1px;
      margin-top: 100px;
    }
    
    .learn_query_text2{
        font-size: 25px;
        margin: -30px;
        text-align: left;
    }

    .learn_query_container{
       display: grid;
       margin: auto;

    }

    .learn_query_container2{
       width: 390rem;
    }

    .learn_query_containerX{
       width: 20rem;
       height: 25rem;
    }

    .learn_query_containerY{
       width: 20rem;
       height: 25rem;
    }

    .learn_query_containerZ{
       width: 20rem;
       height: 25rem;
    }
    .learn_query_img{
        margin-top: -70px;
        height: 45rem;
        object-fit: cover;
        margin: auto;
    }


    .meet_the_team_qeury_shadow{
        font-size: 90px;
        margin: -100px;
        margin-top: -220px;
        text-align: center;
    }

    .meet_the_team_qeury{
      font-size: 90px;
      margin: -10px;
    }

    .meet_the_team_text{
      font-size:25px;
      margin-left: 60px;
      margin-right: 60px;
      text-align: left;
 
    }


    .kojo_query{
        width: 20rem;
        height: 34rem;
        margin: auto;
    }

    .rahul_query{
      width: 20rem;
      height: 34rem;
      margin: auto;
    }

    .rahul_query_img{
      height:24.5rem ;
    }

    .kojo_query_text{
      font-size: 30px;
    }

    .kojo_query_text{
      font-size: 30px;
    }

    .achievement_query{
      font-size: 45px;
    }

    .student_query{
        font-size: 40px;
    }
    .awards_query{
        font-size: 40px;
    }
    .projects_query{
        font-size: 40px;
    }

    .textq{
        margin-top: -8rem;
        text-align: left;
        margin-left: -25px;
        margin: -100px;
        font-size: 25px;
    
      }
      .btn_query{
        margin-top: 6rem;
        margin-bottom: 5rem;
      }

      .achieve_query{
        display: grid;
      }

      .imgIII{
           display: grid;
           place-content: center;
       

      }
     
      .imgx{
        width: 9rem;
        height: 15rem;
        object-fit: cover;
        margin: auto;
        margin-left: -3.5rem;
        position: absolute;
      }
     
      .imgy{
        width: 10rem;
        height: 15rem;
        object-fit: cover;
        margin: auto;
        margin-left: 6.5rem;
        position: absolute;
      }
     
      .imgz{
        width: 20rem;
        height: 15rem;
        object-fit: contain;
        margin-top: 16rem;
        margin-left: -3rem;
      }

.course_query{
       margin-top: 30rem;
     
}

.course_query_text{
     font-size: 45px;
}

.course_container{
      display: grid;
      gap: 100px;
    
}

.course_container1{
   width: 18rem;
   margin: auto;
}

.course_container2{
   width: 18rem;
   margin: auto;
}

.testimonial_container{
    padding-bottom: 135rem;
}

.testimonial1{
   display: grid;
   place-content: center;
   width: 20rem;
   height: 25rem;
}

.testimonial2{
   display: grid;
   place-content: center;
   width: 20rem;
   height: 25rem;
}

.testimonial3{
   display: grid;
   place-content: center;
   width: 20rem;
   height: 25rem;
}


       /* footer */




       
}
